*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, sans-serif;
}
.cabecalho {
    background-color: #eba716;
    color: rgb(80, 46, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.cabecalho-lista-item a{
    text-decoration: none;
    color: white;
}

.agrinho-imagem{
    width: 25%;
}

.agrinho{
    background-image: linear-gradient(#f8cc06,#c5700e);
    color:rgb(109, 53, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.agrinho-div-conteudo{
    width: 35%;
}


.agrinho-titulo{
    padding: 24px 0;
}

.campo{
    padding: 24px 0;
}
.campo-imagem{
    width: 120px
}

.campo-icone{
    width: 24px;
    padding: 4px 8px;
}

.campo-div{
    text-align: center;
    padding: 16px 0;
}

.campo-titulo{
    text-align: center;
    padding: 50px 0;
}


.rodape{
    background-color: rgb(209, 159, 19);
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}